# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Environments
.env

# Music files
music/

# EXE files don't do well on github
*.exe

# Logging
log.txt
error.txt
logs/

# Testing
app.py
base.py
test.py
baka_mitai_formats.json
baka_mitai.json
baka_mitai_search.json
yakuza_0_karaoke_disco_songs.json
result.json
test.json

# Data files
data/
data2/
figures/

# Test conda environments
discord_bot_env_2.yml