# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Environments
.env

# Music files
music/

# EXE files don't do well on github
*.exe

# Logging
log.txt

# Testing
test.py

# Data files
data/